body {
    margin: 0;
    font-family: -apple-system, BlinMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fire Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: sorce-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}